---
import AdminLayout from "@/layouts/AdminLayout.astro";
import BackendStatus from "@/components/CAdmin/BackendStatus.astro";
import LiveLogs from "@/components/CAdmin/LiveLogs.astro"; 
import DashboardStats from "@/components/CAdmin/DashboardStats.astro";
import ActivityFeed from "@/components/CAdmin/ActivityFeed.astro";
---

<AdminLayout title="Panel de Control">
  
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 mb-8">
    
    <div class="lg:col-span-1 flex flex-col gap-6">
        
        <BackendStatus />

        <div class="flex-1">
             <DashboardStats />
        </div>

    </div>

    <div class="lg:col-span-2">
        <LiveLogs />
    </div>

  </div>

  <div class="w-full">
      <ActivityFeed />
  </div>

</AdminLayout>