---
import PeopleCard from "@/components/CPeople/PeopleCard.astro";
import PeopleAdd from "@/components/CPeople/modals/PeopleAdd.astro";
import PeopleEdit from "@/components/CPeople/modals/PeopleEdit.astro";
import PeopleDelete from "@/components/CPeople/modals/PeopleDelete.astro";
import Loader from "@/components/CCommon/Loader.astro";

import type { InvestigatorDTO } from "@/types/people";

interface Props {
  people: InvestigatorDTO[];
}

const { people } = Astro.props;
const hasQuery = Astro.url.searchParams.has("query");

// Loader
const initialLoaderText = people.length > 0 
  ? "Cargando ..." 
  : (hasQuery ? "No se encontraron investigadores" : "No hay miembros del equipo disponibles");
---

<div id="people-page-wrapper" class="relative min-h-[400px]">
  
  <Loader 
    id="people-list-loader" 
    text={initialLoaderText}
  />

  <PeopleAdd />

  <div id="content-area" class="transition-opacity duration-500 opacity-0">
    {
      people.length > 0 && (
        <div id="people-list-container" class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 mt-6">
          {people.map((person) => (
            <article class="people-card-item" data-orcid={person.orcid}>
              <PeopleCard person={person} />
            </article>
          ))}
        </div>
      )
    }
  </div>

  <PeopleEdit />
  <PeopleDelete />

</div>

<script>
  // Importamos la lógica centralizada
  import { initPeopleList } from "@/utils/people/peopleListUtils";

  document.addEventListener("DOMContentLoaded", () => {
    initPeopleList();
  });
</script>