<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MEMORY" class="com.icaro.icarobackend.config.MemoryAppender" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="MEMORY" />
    </root>

    <logger name="org.springframework" level="WARN" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="com.icaro" level="DEBUG" />

</configuration>