---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import RecentCarousel from "@/components/RecentCarousel.astro";
import "@/styles/global.css";
import NavBar from "@/components/NavBar.astro";
import TopUtility from "@/components/TopUtility.astro";
import ResearchGroup from "@/components/ResearchGroup.astro";

const dataHeader = {
	titulo: "Mi titulo del header",
	descripcion: "Descripción del header",
};
---

<BaseLayout>
	<section class="max-w-full bg-white shadow-md rounded-lg">
		<TopUtility />
		<Header />
	</section>
	<section class="mt-10 max-w-full bg-white shadow-md">
		<NavBar />
	</section>

	<section
		class="w-full content-wrap bg-white shadow-md
         max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-10 py-20"
	>
		<div class="mb-8 relative inline-block w-full text-center">
			<h2 class="text-2xl font-bold text-[#231F20] pb-2">
				Investigaciones recientes
			</h2>
			<span
				class="absolute left-1/2 bottom-0 w-20 h-1 bg-[#006D38]
             -translate-x-1/2"
			></span>
		</div>
		<RecentCarousel />
	</section>

	<section
		class="w-full content-wrap bg-white shadow-md
         max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pb-20"
	>
		<div class="mb-8 relative inline-block w-full text-center">
			<h2 class="text-2xl font-bold text-[#231F20] pb-2">
				Grupo de Investigación
			</h2>
			<span
				class="absolute left-1/2 bottom-0 w-20 h-1 bg-[#006D38]
             -translate-x-1/2"
			></span>
		</div>
		<ResearchGroup />
	</section>
</BaseLayout>
