---
export const prerender = false;

import BaseLayout from "@/layouts/BaseLayout.astro";
import TopUtility from "@/components/CCommon/TopUtility.astro";
import Header from "@/components/CCommon/Header.astro";
import NavBar from "@/components/CCommon/NavBar.astro";
import CTitle from "@/components/CCommon/TitlePages.astro";

import PeopleList from "@/components/CPeople/PeopleList.astro"; 
import Paginate from "@/components/CCommon/Paginate.astro";

import "@/styles/index.css";

import { loadPeoplePage } from "@/utils/people/peoplePageLoader";

const { people, totalPages, currentPage } = await loadPeoplePage(Astro.url);
---

<BaseLayout>
  <section class="max-w-full bg-white shadow-md rounded-lg">
    <TopUtility />
    <Header />
  </section>

  <section class="mt-10 max-w-full bg-white shadow-md">
    <NavBar />
  </section>

  <CTitle Title="People" />

  <section class="w-full px-4 mx-auto max-w-custom pb-12">
    
    <PeopleList people={people} />

    <div class="mt-10 mb-12">
      <Paginate
        totalPages={totalPages}
        currentPage={currentPage}
        astroURL={Astro.url}
      />
    </div>

  </section>
</BaseLayout>

<style>
  .max-w-custom {
    max-width: 1200px;
  }
</style>