---
import BaseLayout from "@/layouts/BaseLayout.astro";
import TopUtility from "@/components/CCommon/TopUtility.astro";
import Header from "@/components/CCommon/Header.astro";
import NavBar from "@/components/CCommon/NavBar.astro";
import CTitle from "@/components/CCommon/TitlePages.astro";
import AddPeople from "@/components/CPeople/AddPeople.astro";
import PeopleList from "@/components/CPeople/PeopleList.astro";
import "@/styles/index.css";
import type { Investigator } from "@/types/investigator";
import { getAllInvestigators } from "@/services/investigatorsService";


const people: Investigator[] = await getAllInvestigators(); 
---

<BaseLayout>
  <section class="max-w-full bg-white shadow-md rounded-lg">
    <TopUtility />
    <Header />
  </section>
  <section class="mt-10 max-w-full bg-white shadow-md">
    <NavBar />
  </section>
  <section
    class="w-full content-wrap bg-white shadow-md
           max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10 mt-10"
  >
    <CTitle Title="People" />
    
    <AddPeople />
    <PeopleList people={people} />
  </section>
</BaseLayout>

<script>
  
  // Estado de autentificación
  import { adminState } from "@/stores/auth";

  // Boton de Añadir Investigador
  const addButton = document.getElementById('addButton'); 

  // Suscribirse a los cambios de estado del sistema de auth
  adminState.subscribe(state => {
    if(addButton){
      addButton.classList.toggle('hidden', !state.isAdmin); 
      addButton.classList.toggle('flex', state.isAdmin); 
    }
  })
</script>