---
import BaseLayout from "@/layouts/BaseLayout.astro";
import TopUtility from "@/components/CCommon/TopUtility.astro";
import NavBar from "@/components/CCommon/NavBar.astro";
import Header from "@/components/CCommon/Header.astro";
import CTitle from "@/components/CCommon/TitlePages.astro";
import SearchFilter from "@/components/CCommon/SearchFilter.astro";
import Paginate from "@/components/CCommon/Paginate.astro";
import ProjectsList from "@/components/CProjects/ProjectList.astro";

import "@/styles/index.css";
import { loadProjectsPages } from "@/utils/projects/projectsPageLoader";

const { projects, totalPages, currentPage } = await loadProjectsPages(
  Astro.url
);
---

<BaseLayout>
  <section class="max-w-full bg-white shadow-md rounded-lg">
    <TopUtility />
    <Header />
  </section>

  <section class="mt-10 max-w-full bg-white shadow-md">
    <NavBar />
  </section>

  <CTitle Title="Projects" />

  <section class="w-full px-4 mx-auto max-w-custom">
    <ProjectsList projects={projects} />

    <div class="mt-8 mb-12">
      <Paginate
        totalPages={totalPages}
        currentPage={currentPage}
        astroURL={Astro.url}
      />
    </div>
  </section>
</BaseLayout>

<script>
  import { setupAdvancedSearch } from "@/utils/general/searchFilter";

  document.addEventListener("DOMContentLoaded", () => {
    setupAdvancedSearch({
      inputId: "search-project", 
      clearBtnId: "search-project-clear",
      searchEndpoint: "http://localhost:8080/api/project/paged",
      baseUrl: "/projects",
      debounceMs: 300,
    });
  });
</script>

<style>
  .max-w-custom {
    max-width: 1200px;
  }
</style>
