---
import ContLogos from '@/components/ComptLogo.astro';
---  
<header class="bg-white sticky top-0 z-50">
  <div class="mt-5 container mx-auto px-4 py-4 flex justify-between items-center">
    <h1 class="text-3xl font-semibold text-[#231F20]">
      Grupo de Investigación UJA
    </h1>
    <ContLogos />
  </div>
</header>
