---
import IdeaIcon from '@/assets/imagedefault.webp'  
---
<div class="bg-gray-50 rounded-xl p-5 max-h-full mx-auto flex flex-col md:flex-row items-center">
  <div class="flex-1 text-gray-700">
    <p class="mb-4 leading-relaxed">
        El grupo de investigación Tratamiento de Señales en Sistemas de Telecomunicación, activo desde 2007,
        reúne a 12 investigadores senior y a un equipo emergente de doctorandos dedicado al diseño y la optimización
        de algoritmos inteligentes de procesamiento de señales. Sus líneas principales incluyen la adaptación en tiempo
        real de flujos inalámbricos mediante técnicas de aprendizaje profundo, el desarrollo de protocolos para redes de
        sensores colaborativos con esquemas de compresión avanzada y la aplicación de metaheurísticas híbridas (como la
        combinación de algoritmos genéticos y PSO) para la gestión eficiente de recursos en redes 5G/6G.
    </p>
    <p class="leading-relaxed">
        Además, el grupo mantiene colaboraciones con sectores como la salud y la energía, implementando sistemas de telemonitoreo
        de pacientes crónicos y diseñando redes eléctricas inteligentes. Integran visión por computador y modelos cuánticos ligeros
        para anticiparse a interferencias y ajustar dinámicamente la cobertura, asegurando así soluciones de comunicación robustas y
        proactivas frente a las variaciones del entorno. 
   </p>
  </div>
</div>
