<div class="bg-slate-800 text-slate-200 text-xs">
  <div class="container mx-auto px-4 flex justify-end gap-4 py-1">
    <a href="/lang" class="hidden sm:inline">ES</a>
    <a href="/admin">Admin</a>
  </div>
</div>