---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICARO Portal</title>
  </head>
  <body class="bg-gray-50">
    <slot />
  </body>
  <footer class="bg-gray-50 text-center pt-4">
    <p class="bg-slate-800 text-white">© 2025 ICARO Research Group.</p>
  </footer>
</html>
