---
import Notification from "@/components/CCommon/Notification/Notification.astro";

const { titulo="Texto por defecto", descripcion="Descripcion por defecto" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{titulo}</title>
    <meta name="description" content={descripcion} />
	</head>
	<body>
		<Notification />
		<main> 
			<slot />
		</main>
		<script>
    </script>
    <slot />
	</body>
</html>
